/* COLORS : 
 	#ffffff 	(255,255,255)	white
	#c8c8c8 	(200,200,200)	light gray
	#f1eeca 	(241,238,202)	beige
	#88a7c0 	(136,167,192)	light blue gray
	#7d9cb4 	(125,156,180)	medium blue gray
	#61a5cc light blue
*/

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.container{
	text-align: center;
}

#check-button{
	margin: 10px;
	width: 30%;
}

.answer_false{
	color: red;
	font-weight: bold;
}

.answer_true{
	color: green;
	font-weight: bold;
}

.bg-1 {
    background-color: #c8c8c8; 
    color: #7d9cb4;
}
.bg-2 {
    background-color: #d2d2d2;
    color: #7d9cb4;
}

h2, h3{
	/* display: inline-block; */
	color: #7d9cb4;
}
h1{
	text-align: center;
	color: #7d9cb4;
}
p {
	color:#88a7c0;
}
#main_link{
	color: #111111;
}
.link_article{
	color:#8ABE9A;
}
a{
	text-decoration: none;
	color:#88a7c0;
}
a:hover{
	text-decoration: underline;
}
#user_name{
	font-style: italic;
}

#main{
	width: 100%;
	margin: 20 auto;
	padding: 0px;
}
.centerize{
	margin-left: auto;
    margin-right: auto;
    width:50%;
    margin-bottom:20px;
}
.error{
	color: #ff0000;
}

.post{
	color: #D02090;
}
.tojson{
	color: #00B8FF;
}

#retour{
	display: block;
	position: absolute;
	margin: 0px;
}
body{
	background-color: #f1eeca
}

#main-nav > .active > a,
#main-nav > .active > a:hover,
#main-nav > .active > a:focus{
	background-color: #61a5cc;
}

.btn-primary {
  color: #fff;
  background-color: #61a5cc;
  border-color: #2e6da4;
}

.btn-success > a {
	color: #fff;
}

.smallform {
	width:15%;
	margin:auto;
}