.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #fff22f; /* yellow */
    color: #5555
}
.container-fluid {
    padding-top: 0 px;
    padding-bottom: 20px;
}
h2, h3{
	display: inline-block;
}
h1{
	text-align: center;
}
#main_link{
	color: #111111;
}
.link_article{
	color:#8ABE9A;
}
a{
	text-decoration: none;
	color:#ffffff;
}
a:hover{
	text-decoration: underline;
}
#user_name{
	font-style: italic;
}

#main{
	width: 60%;
	margin: 0 auto;
	padding: 10px;
}

.article-title{
	padding:0px;
	margin:0px;
}

.error{
	color: #ff0000;
}

.post{
	color: #D02090;
}

.created{
	font-size: 0.8em;
}

.article-art{
	font-size: 1.2em;
}

.tojson{
	color: #00B8FF;
}

#retour{
	display: block;
	position: absolute;
	margin: 0px;
}
body{
	background-color: #d3d3d3
}