{% extends "base.html" %}

{% block content %}

	{% if user %}

		<p>Welcome home, {{user.username}}!</p>
		<p>This is your account. You can see your progression from here. </p>
		<div id="grades">
			<div class="grade-group">
				<span id="voc_grade" class="grade voca">{{user.grade_vocabulary}}%</span>
				<p>Vocabulary</p>
			</div>
			<div class="grade-group">
				<span id="gramm_grade" class="grade gramm">{{user.grade_grammar}}%</span>
				<p>Grammar</p>
			</div>
			<div class="grade-group">
				<span id="comp_grade" class="grade comp">{{user.grade_comprehension}}%</span>
				<p>Comprehension</p>
			</div>
		</div>

		<div id="lessons" class="container">
			<ul class="list-group" >
				{% if lessons|length > 0 %}
					<li class="list-group-item" id="lessons-group-title">Lessons you have already done : {{lessons|length}}</li>
					{% for lesson in lessons %}
				   		<a href="/{{lesson.key().id()}}" style="text-align: center">
							<li class="list-group-item" >  <span class="wrap"><span>{{lesson.title}}</span><span class="{{lesson.difficulty}}">{{lesson.difficulty}}</span><span class="{{lesson.dominant}}">{{lesson.dominant}}</span></span></li>
						</a>
					{% endfor %}
				{% else %}
					<li class="list-group-item" id="lessons-group-title">You haven't done any lesson for the moment!</li>
				{% endif %}
			</ul>
		</div>
	{% else %}
		<p class="error">You must be authentified.</p>
	{% endif %}

{% endblock %}