{%extends "base.html" %}
{% block content %}

{% if user %}
	<p class="error">You are already authentified!</p>
{% else %}
	<div class="container">
		<h2>Here, you can join us!</h2>
		<form method="post" class="form-signin">
				<input type="text" name="username" value="{{username_temp}}" class="form-control" placeholder="Your username"></input>

				<input type="password" name="password" value="{{password}}" class="form-control" placeholder="Your password"></input>

				<input type="password" name="verify" value="{{verify}}" class="form-control" placeholder="Verify your password"></input>

			<div class="error">{{error}}</div>

			<input type="submit" value="Create an account!" class="btn btn-success" id="create-user"></input>
		</form>
	</div>

{% endif %}
{% endblock %}