{%extends "base.html" %}
{% block content %}

	{% if user %}
		<div class="container">
			<h2>This is the home page. Here, you can browse lessons posted by all users!</h2>
			<form action="javascript:void(0);" class="form-signin">
				<h2 class="form-signin-heading">Search filters</h2>
				<div class="form-group">
					<label for="theme-input">Name of the lesson</label>
					<input type="text" name="name-input" id="name-input" placeholder="Ex.: Shakespeare" class="form-control"/>
					<label for="diff-input">Difficulty of the lesson</label>
					<select name="diff-input" id="diff-input" class="form-control">
						<option label=" "></option>
						<option value="Easy">Easy</option>
						<option value="Medium">Medium</option>
						<option value="Hard">Hard</option>
					</select>
					<label for="theme-input">Theme of the lesson</label>
					<select name="theme-input" id="theme-input" class="form-control">
						<option label=" "></option>
						<option value="Vocabulary">Vocabulary</option>
						<option value="Grammar">Grammar</option>
						<option value="Comprehension">Comprehension</option>
					</select>
				</div>
			</form>
			
			<div id="lessons" class="container">
				<ul class="list-group">
					{% if lessons|length > 0 %}
						<li class="list-group-item" id="lessons-group-title">Lessons you haven't done for the moment</li>
						{% set i = 0 %}
						{% for lesson in lessons %}
							{% if lesson.key().id() not in user.lessons_done %}
								<div class="lesson" less-name="{{lesson.title.lower()}}" diff="{{lesson.difficulty}}" theme="{{lesson.dominant}}" onmouseover="white_text({{i}});" onmouseleave="original_text({{i}})" id="display_lesson{{i}}">
									<li class="list-group-item" onclick="document.location = '/{{lesson.key().id()}}'">
										<h2><a href="/{{lesson.key().id()}}">{{lesson.title}}</a></h2>
										<p><span class="{{lesson.difficulty}}">{{lesson.difficulty}}</span><span class="{{lesson.dominant}}">{{lesson.dominant}}</span></p>
										<p class="created">Posted the {{lesson.created.strftime('%A %d %B %Y')}} at {{lesson.created.strftime('%H:%M:%S')}}</p>
									</li>
								</div>
							{% endif %}
							{% set i = i + 1 %}
						{% endfor %}
					{% else %}
						<li class="list-group-item" id="lessons-group-title">We are sorry, but there is no lesson for the moment :(</li>
					{% endif %}

					<li id="no_lesson_found" class="list-group-item" style="color:red;">We didn't found any lesson, sorry :/</li>
				</ul>
			</div>

		</div>

	{% else %}
		<div class="container">
			<form method="post" action="/login" class="form-signin">
				<h2 class="form-signin-heading">Please sign in</h2>
					<div class="form-group">
						<input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username" autofocus="" required=""></input>
						<input type="password" name="password" value="{{password}}" class="form-control" placeholder="Password" required=""></input>
					</div>

				<div class="error">{{error}}</div>

				<button type="submit" class="btn btn-primary"> Connect </button>
				<button class="btn btn-success" onclick="document.location.href='/signup';">Create an account</button>
			</form>
			
		</div>
	{% endif %}

	<script type="text/javascript">
		function white_text(num){
			var div = $('#display_lesson'+num);
			div.find('.created').css("color","white");
			div.find('a').css("color","white");
		}

		function original_text(num){
			var div = $('#display_lesson'+num);
			div.find('.created').css("color","#7d9cb4");
			div.find('a').css("color","#7d9cb4");
		}

		function filterPage(){

			$('#no_lesson_found').hide('fast');

			//We get the fields
			field_name = $("#name-input").val();
			field_diff = $("#diff-input").val();
			field_theme = $("#theme-input").val();

			slct = "div[class=\"lesson\"]";

			if(field_name != ''){
				slct+="[less-name=\""+field_name.toLowerCase()+"\"]";
			}

			if(field_diff != ''){
				slct+="[diff=\""+field_diff+"\"]";
			}

			if(field_theme != ''){
				slct+="[theme=\""+field_theme+"\"]";
			}

			//We hide everything
			$(".lesson").hide('fast');

			//We show what we want
			$(slct).show("slow")

			if($(slct).size() == 0){
				$('#no_lesson_found').show('slow');
			}
		}

		// We add listeners to all fiel of the form
		$( "#name-input" ).change(function() {
		  filterPage();
		});

		$( "#diff-input" ).change(function() {
		  filterPage();
		});

		$( "#theme-input" ).change(function() {
		  filterPage();
		});

		document.addEventListener('DOMContentLoaded', function() {
           filterPage();
        }, false);

	</script>

{% endblock %}

