{%extends "base.html" %}
{% block content %}

	{% if user %}
		{% for lesson in lessons %}
			{% if lesson.key().id() not in user.lessons_done %}
				<div class="lesson">
					<h2><a href="/{{lesson.key().id()}}">{{lesson.title}}</a></h2>
					<p>{{lesson.difficulty}}</p>
					<p class="created">Posté le {{lesson.created.strftime('%A %d %B %Y')}} à {{lesson.created.strftime('%H:%M:%S')}}</p>
					<p class="created">Modifié la dernière fois le {{lesson.created.strftime('%A %d %B %Y')}} à {{lesson.created.strftime('%H:%M:%S')}}</p>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<form method="post" action="/login">
			<label>
				<div>Pseudo</div>
				<input type="text" name="username" value="{{username}}"></input>
			</label>

			<label>
				<div>Password</div>
				<input type="password" name="password" value="{{password}}"></input>
			</label>

			<div class="error">{{error}}</div>

			<input type="submit" value="Connect"></input>
			<a href="/signup">Create an account</a>
		</form>
	{% endif %}

{% endblock %}