{%extends "base.html" %}
{% block content %}

	{% if user %}
		{% for lesson in lessons %}
			{% if lesson.key().id() not in user.lessons_done %}
				<div class="lesson">
					<h2><a href="/{{lesson.key().id()}}">{{lesson.title}}</a></h2>
					<p>{{lesson.difficulty}}</p>
					<p class="created">Posted the {{lesson.created.strftime('%A %d %B %Y')}} at {{lesson.created.strftime('%H:%M:%S')}}</p>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<form method="post" action="/login">
				<div class="form-group">
					<label> Username : </label>
					<input type="text" name="username" value="{{username}}"></input>
				</div>

				<div class="form-group">
					<label> Password : </label>
					<input type="password" name="password" value="{{password}}"></input>
				</div>

			<div class="error">{{error}}</div>

			<button type="submit" class="btn btn-primary"> Connect </button>
		</form>
		<br>
		<button class="btn btn-success"> <a href="/signup">Create an account</a> </button>
	{% endif %}

{% endblock %}