{% extends "base.html" %}
{% block content %}

	<form class="lesson" method="post" action="/check">
		<input type="hidden" name="id-lesson" value="{{lesson.key().id()}}" />

		{% if training %}
			{% if training == "FAIL" %}
				<p>We are sorry, but we did'nt find a lesson for your needs that you haven't done. So here is another lesson.</p>
			{% else %}
				<p>Welcome to our training session, sir! We have the feeling that you have to improve your {{training}} skills, so here is a lesson we chose just for you !</p>
			{% endif %}
		{% endif %}

		<h1 class="lesson-title">{{lesson.title}}</h1>
		<p><span>{{lesson.difficulty}}</span> / <span>{{lesson.dominant}}</span></p>

		{% set i = 0 %}
		{% for story in stories %}
			{% set i = i + 1 %}
			<div class="container-fluid bg-1 story text-center" id="story{{i}}">
				<h2>{{story.title}}</h2>
				<div class="centerize">
				{% if story.type_of_story == "video" %}
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="{{story.text}}" frameborder="0" allowfullscreen></iframe>
					</div>
				{% else %}
					<pre class=text-justify>{{story.text}}</pre>
				{% endif %}
				</div>
			</div>
			<div class="container-fluid bg-2 text-center">
				<h3>Questions</h3>
			</div>

				<div class="vocabulary-questions container-fluid bg-2 text-center">
					<h4>Vocabulary questions</h4>
					<p>Fill in the blanks !</p>
					{% set j = 0 %}

					{% for vcble in story.questions_vocabulary %}
						{% set j = j+1 %}
						<h5>Question {{j}}</h5>

						<div class="vocabulary-question" id="vocabulary-question{{i}}{{j}}">
							<p>{{vcble | safe}}</p>
						</div>

					{% endfor %}
				</div>

				<div class="grammar-questions container-fluid bg-1 text-center">
					<h4>Grammar questions</h4>
					{% set j = 0 %}

					{% for gramm in story.questions_grammar %}
						{% set j = j+1 %}
						<h5>Question {{j}}</h5>

						<div class="grammar-question" id="grammar-question{{i}}{{j}}">
							{% set answers = gramm.split("|") %}

							<p>{{gramm.split("|")[0]}}</p>

							{% set a = answers.pop(0) %}

							<label for="grammar-answer{{i}}{{j}}">Your answer: </label>

							{% for ans in answers|shuffle %}
								<input type="radio" name="grammar-answer{{i}}{{j}}" value="{{ans}}">{{ans}}</input>
							{% endfor %}
						</div>

					{% endfor %}
				</div>

				<div class="comprehension-questions container-fluid bg-2 text-center">
					<h4>Comprehension questions</h4>
					{% set j = 0 %}

					{% for compr in story.questions_comprehension %}
						{% set j = j+1 %}
						<h5>Question {{j}}</h5>

						<div class="comprehension-question" id="comprehension-question{{i}}{{j}}">
							<p>{{compr.split("|")[0]}}</p>
							<label for="comprehension-answer{{i}}{{j}}">Your answer: </label>
							<input type="text" name="comprehension-answer{{i}}{{j}}" id="comprehension-answer{{i}}{{j}}" />
						</div>

					{% endfor %}
				</div>
			</div>

		{% endfor %}

		<input type="submit" value="Check !"/>

		<p class="created">Posted the {{lesson.created.strftime('%A %d %B %Y')}} at {{lesson.created.strftime('%H:%M:%S')}}</p>
	</form>

{% endblock %}